/* General Blueprint Style */

:root {
	/* --main-bg-color: #2a2b30; */
	--main-bg-color: #ffffff;
	--text-font-color: #093145;
  }

/* Resets */

*,
*:after,
*:before {
	box-sizing: border-box;
}

.a{
	color: cadetblue;
}



.paragraph_Main{

}

.indentedContent{
	margin: 30px;;
}

.googleMapsAnchor{
	color: var(--text-font-color);
	text-decoration: underline;
}

.googleMapsAnchor:visited{
	color: grey;
}

.mainList{
	margin-left: 100px;
}

.h1{
	/* margin: 30px;
	font-size: 30px; */
	display: inline-block;
	text-align: center;
    /* margin-bottom: 2px;
    padding-bottom: 2px; */
    font-weight: 700;
	letter-spacing: 2px;
	margin-top: 0;
    font-size: 14px;
	line-height: 20px;
	border-bottom: 2px solid #168ef9;
}

.imageContainer{
	margin: 30px;
}


/* Helper classes */

.cf:before,
.cf:after {
	content: ' ';
	display: table;
}

.cf:after {
	clear: both;
}


/* Main styles */

body {
	/* font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif; */
	font-family: 'Merriweather', Arial, sans-serif;
	font-size: 13px;
	overflow: hidden;
	margin: 0;
	/* color: #cecece; */
	/* color: black; */
	color: var(--text-font-color);
	background: var(--main-bg-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: #fff;
	outline: none;
}

a:hover {
	color: #ddd;
}

.divider{
	border-bottom: 1px solid lightgray;
	margin-bottom: 10px;
}

.serviceItem::before{
	content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 8px;
    left: 0;
    background-image: url(../../public/images/bullet.svg);
}

.serviceItem {
	position: relative;
	text-align: left;
	padding: 8px 32px;
	list-style: none;
    padding-right: 0;
    line-height: 1.5;
}

.contactBar{
	/* background-color: #2C2C2C; */
	/* background-color: #3b3d4a; */
	background-color: #3b3d4a;
	width: 100%;
	z-index: 30;
	text-align: center;
	color: blanchedalmond;
	padding-top: 5px;
	padding-bottom: 5px;
	/* display: inline; */
}

.phone,
.mail{
	display: inline;
	margin-right: 10px;
	font-size: 12px;
}
.bulletLess{
	text-decoration: none;
	margin-left: 20px;
}

.rounded{
	border-radius: 10px;
}

.bulletLess a{
	margin-left: 10px;
	color: var(--text-font-color);
}
.contactIcon{
	margin-left: 5px;
}

.content {
	position: relative;
	min-height: 300px;
	margin: 0 0 0 300px;
}


.info {
	font-size: 1.1em;
	font-weight: bold;
	padding: 20vh 1em 0;
	text-align: center;
	color: #47484c;
}

body #cdawrap {
	top: auto;
	bottom: 15px;
	background: rgba(0, 0, 0, 0.1);
}

body #cdawrap .carbon-text {
	color: #505158;
}

body #cdawrap a.carbon-poweredby {
	color: #7883c4;
}

body #cdawrap a:hover.carbon-poweredby {
	color: #fff;
}

@media screen and (max-width: 40em) {
	.bp-header {
		padding-top: 3em;
	}
	.bp-header__main,
	.bp-nav {
		width: 100%;
		text-align: center;
	}
	.dummy-logo {
		display: none;
	}
	.content {
		margin: 0;
	}
	body,
	.containerDemo {
		height: auto;
		overflow: auto;
	}
	.mainList{
		margin-left: 30px;
	}
	.carousel-resizable{
		margin-left: 10px;
		margin-right: 10px;
	}
}
